#register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  background: #590a5b;
  overflow: hidden;
}

#register .wrapper {
  background: #fff;
  width: 450px !important;
  -webkit-box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

#register .form {
  padding: 25px 30px;
}

#register .form header {
  font-size: 1.2rem;
  padding-bottom: 0.6rem;
  font-weight: 600;
  border-bottom: 1px solid #e6e6e6;
}

#register .form form {
  margin: 1.2rem 0;
}

#register .form form .button input {
  margin-top: 0.87rem;
  height: 2.3rem;
  border: none;
  font-size: 1.03rem;
  font-weight: 400;
  background: #333;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  text-transform: capitalize;
}

#register .form form .image input {
  font-size: 1.01rem;
}

#register .form form .name-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#register .form form .name-details .field:first-child {
  margin-right: 0.6rem;
}

#register .form form .name-details .field:last-child {
  margin-left: 0.6rem;
}

#register .form form .error-txt {
  color: #721c24;
  background: #f8d7da;
  padding: 0.5rem 0.6rem;
  text-align: center;
  border-radius: 0.3rem;
  margin-bottom: 0.5rem;
  border: 1px solid #f5c6cb;
}

#register .form form .field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0.5rem;
}

#register .form form .field i {
  position: absolute;
  right: 1rem;
  color: #ccc;
  top: 70%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

#register .form form .field i.active::before {
  color: #333;
  content: "\f070";
}

#register .form form .field label {
  margin-bottom: 2px;
  color: #333333;
  font-weight: 300;
}

#register .form form .input input {
  outline: none;
  height: 2rem;
  width: 95%;
  font-size: 1rem;
  border: 1px solid #ccc;
  padding: 0 10px;
}

#register .form .link {
  text-align: center;
  margin: 10px 0;
  font-size: 1rem;
}

#register .form .link a {
  font-weight: 600;
  color: #333;
}

#register .form .link a:hover {
  font-weight: 100;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.mt-2 {
  margin-top: 2rem !important;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: #590a5b;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #590a5b;
  height: 50px;
  color: #ffffff;
}

.footer a {
  margin-left: 1rem;
  text-decoration: none;
  color: #fff;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.header .logo h1 {
  color: #ffffff;
}

#success {
  background: #590a5b !important;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.loginSuccess h1 {
  font-weight: bold;
  font-size: 2rem;
  padding-bottom: 2rem;
  color: lightgreen !important;
}

.successImg {
  max-width: 20rem;
}

.proceedWrapper {
  max-width: 100%;
  padding-top: 5rem;
}

.proceedWrapper .proceed {
  background: #ffffff;
  padding: 1rem;
  border-radius: 10px !important;
  color: #590a5b !important;
  -webkit-box-shadow: 5px 5px 3px #aaa;
          box-shadow: 5px 5px 3px #aaa;
  font-weight: bold;
}

.proceedWrapper .proceed:hover,
.proceedWrapper a:hover {
  background: #590a5b;
  color: #ffffff !important;
  border: 1px solid #ffffff;
}

.wrapper .login .button input {
  color: #ffffff !important;
  background: #590a5b;
  font-weight: 300;
  border: none;
}

.wrapper .login .button input:hover {
  background: #fff;
  border: 1px solid #590a5b;
  color: #590a5b !important;
  font-weight: 400;
}

.wrapper .login .field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0.5rem;
}

.wrapper .login .field i {
  position: absolute;
  right: 1rem;
  color: #ccc;
  top: 62%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

.wrapper .login .field label {
  margin-bottom: 0.3rem;
}

.wrapper .login .field input {
  width: 100%;
  height: 2.5rem;
  outline: none;
  padding: 0 1rem;
  margin-bottom: 0.7rem;
}

@media (max-width: 480px) {
  .loginWrapper {
    height: 30rem;
  }
}
/*# sourceMappingURL=style.css.map */